.contact-header {
  font-size: 28px;
}

input {
  background-color: #FFF;
  height: 50px;
  width: 500px;
}

input[type="submit"] {
  height: 50px;
  width: 150px;
  cursor: pointer;
}

textarea {
  background-color: #FFF;
  height: 150px;
  width: 500px;
}

input, textarea {
  color: black;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  margin: 15px;
}

input:hover, textarea:hover {
  background-color: #a9a9a9;
}