header {
  -webkit-animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 2s;

  .header-nav {
    border-bottom: 2px solid #61DBFB;

    .header-image-box {
      min-width: 30%;

      .header-react-logo {
        height: 75px;
        width: auto;
        animation: spin 15s linear infinite;
      }

      .header-title {
        font-size: 36px;
      }
    }

    .header-image-box,
    .header-title {
      margin-left: 20px;
    }

    .header-nav-box {
      min-width: 60%;
      margin-right: 20px;

      ul {
        font-size: 26px;
        list-style: none;
        margin-bottom: 20px;

        li {
          margin-left: 15px;
          margin-right: 15px;
          text-decoration: none;
        }

        li:hover {
          color: #fb618e;
          text-decoration: underline;
          cursor: pointer;
        }

        .nav-drop-one {
          -webkit-animation: bounce-in-top 2.3s ease-in both;
          animation: bounce-in-top 2.3s ease-in both;
          animation-delay: 3s;
        }

        .nav-drop-two {
          -webkit-animation: bounce-in-top 2.6s ease-in both;
          animation: bounce-in-top 2.6s ease-in both;
          animation-delay: 3.5s;
        }

        .nav-drop-three {
          -webkit-animation: bounce-in-top 3s ease-in both;
          animation: bounce-in-top 3s ease-in both;
          animation-delay: 4s;
        }

        .nav-drop-four {
          -webkit-animation: bounce-in-top 3.3s ease-in both;
          animation: bounce-in-top 3.3s ease-in both;
          animation-delay: 4.5s;
        }

        .nav-drop-five {
          -webkit-animation: bounce-in-top 3.6s ease-in both;
          animation: bounce-in-top 3.6s ease-in both;
          animation-delay: 4.5s;
        }
      }
    }
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }

  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}


@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(33vh);
    transform: translateY(33vh);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(33vh);
    transform: translateY(33vh);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
