* {
  color: #61DBFB;
  background: rgba(40, 40, 40, 0.9);
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  height: 100vh;

  header {
    height: 10%;
  }

  main {
    height: 55%
  }

  footer {
    height: 15%;
  }
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.end {
  justify-content: flex-end;
}

.between {
  justify-content: space-between;
}

.even {
  justify-content: space-evenly;
}

.center {
  align-items: center;
}