body {
  background: rgba(40, 40, 40, 0.9);
  margin: 0;  
  height: 100%;
}

header {
  height: 15%;
}

main {
  height: 55%;
}

footer {
  height: 15%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fb618e;
  text-decoration: underline;
}

html::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.end {
  justify-content: flex-end;
}

.between {
  justify-content: space-between;
}

.even {
  justify-content: space-evenly;
}

.center {
  align-items: center;
}